p Hi #{username}!

p We heard that you lost your LibTuts password. Sorry about that!

p But don’t worry! You can use the following link within the next day to reset your password:

p 
  a.btn.btn-action(href=resetUrl) Reset password

p Button not working? Paste the following link into your browser:
p #{resetUrl}

p 
  = "If you don’t use this link within 24 hours, it will expire. To get a new password reset link, visit "
  a(href="http://libtuts.com/auth/recover") http://libtuts.com/auth/recover

p Thanks, Your friends at LibTuts